**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
Dockerfile
README.md
docker-compose.yml
**/.DS_Store
**/venv
**/env

model/*
venv
backup
data
__pycache__
vectors
**/.chroma
myvenv-hub


####  ---------- General ----------
**/.env

####  ---------- NextJS build. ----------
out

####  ---------- Project Specific Start ----------
**/myvenv
**/myvenv-hub
data-internal
**/data/sample
schedular_status
output
####  ---------- Project Specific End ----------
