body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif,
    'Nunito Sans', 'IBM Plex Sans JP' !important;
  font-size: 14px;
}

.HeaderClass {
  background-color: #30323f;
  /* background-color: blue; */
  align-items: left;
  padding: 15px !important;
  height: 75px;
  margin: 0px;
  vertical-align: middle;
}

.ContainerClass {
  background-color: #30323f;
  align-items: left;
  padding: '15px' !important;
  /* height: 90px; */
}

.HeaderImage {
  margin-left: 5px;
  vertical-align: middle;
}

.HeaderTitle {
  /* color: white;
  font-size: 24px;
  vertical-align: middle; */
  margin: 0px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
  color: rgb(255, 255, 255) !important;
}

.SubHeaderTitle {
  font-size: 29px;
  /* color: rgb(255, 255, 255) !important;b */
  color: black;
  font-weight: normal;
  vertical-align: middle;
  margin-top: 15px !important;
}

.HeaderMenu {
  background-color: #30323f !important;
  color: white !important;
}

.HeaderRightMenu {
  color: white;
}

.SubHeaderClass {
  background-color: white;
  /* background-color: purple; */
  align-items: left;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 70px;
  font-size: 16px;
}

.MainClass {
  background-color: rgb(246, 246, 246);
  /* background-color: blue; */
  width: 100%;
  position: fixed;
  top: 130px;
  height: 100%;
  padding: 5px;
  margin: 0px;
  overflow: visible;
  align-items: flex-start;
}

.footer {
  background: #fcfcff;
  box-shadow: 0px -1px 0px #e7edf7;
  bottom: 0;
  height: 35px;
  left: 0;
  margin: 0;
  margin-right: 25px;
  margin-left: 25px;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.fontSize12 {
  font-size: 12px;
}
