.gan-header-section {
  background-color: rgb(229, 229, 229);
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.gan-text-heading {
  color: black;
  text-align: center;
  font-size: 32px;
  font-weight: bold !important;
  margin: 10px;
}

.gan-text-heading-label {
  color: black;
  text-align: center;
  font-size: 12px;
  margin: 10px;
}

.gan-text-sub-heading {
  color: black;
  text-align: left;
  font-size: 20px;
  font-weight: bold !important;
  margin: 10px;
}

.gan-text-sub-heading-label {
  color: black;
  text-align: left;
  font-size: 12px;
  margin: 10px;
}

.fin-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  /* width: 100%; */
  /* overflow-x: auto; Enable horizontal scrollbar */
  /* white-space: nowrap; Prevent text from wrapping */
}

.fin-container-in {
  border: 0px solid #ccc;
  padding: 0px;
  margin: 00px;
  text-align: left;
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrollbar */
  white-space: nowrap; /* Prevent text from wrapping */
}

.fin-mapping-container {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.fin-mapping-container2 {
  /* border: 1px solid #ccc; */
  padding: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: left;
  width: 100%;
}

.fin-field-label {
  padding: 10px;
  text-align: left;
  width: 300px;

  /* font-weight: bold !important; */
}
.fin-text-box {
  margin-top: 5px;
  margin-left: 5px;
  text-align: left;
  width: 300px;
  border: 1x solid #ccc;
}

.fin-text-box1 {
  margin-top: 5px;
  margin-left: 5px;
  text-align: left;
  width: 300px;
  border: 1px solid #ccc;
}

.gan-dropdown-operation {
  margin-top: 5px;
  margin-left: 5px;
  text-align: left;
  width: 200px;
}

.gan-dropdown-existing-values {
  margin-top: 5px;
  margin-left: 5px;
  text-align: left;
  width: 300px;
  padding: 1px !important;
}

.gan-dropdown-uploaded-columns {
  margin-top: 5px;
  margin-left: 5px;
  text-align: left;
  width: 350px;
  padding: 1px !important;
}

.fin-button-icon{
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 10px;

  text-align: center;
  /* padding: 5px; */
  width: 35px; 
  height: 35px;
  /* background-color: #9897A9; */
  /* background-color: #808588; */
  background-color: #818380;
}

.fin-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.fin-column {
  flex-basis: 200px;
  /* margin: 10px; */
  /* padding: 10px; */
  /* border: 1px solid #ccc; */
}

.fin-button {
  text-align: center;
  /* background-color: #ADADC9; */
  background-color: #9897A9;
  width: 90px;
  margin: 0px;
  margin-top: 5px;
  margin-left: 5px;
}


.fin-table {
  padding: 1px;
  width:100%;
}


.fin-header-section {
  background-color: rgb(229, 229, 229);
  padding: 1px;
  margin-bottom: 10px;
  text-align: center;
}

.fin-text-heading {
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: bold !important;
  margin: 5px;
  padding: 1px;
}

.fin-text-heading-label {
  color: black;
  text-align: center;
  font-size: 12px;
  margin: 5px;
}

.my-tabs-group-content {
  padding-top: 15px;
  padding-left: 20px;
}


.full-width-table {
  width: 100%;
}

.full-width-textarea {
  width: 100%;
  height: 85%;
  border: 1px solid #ccc;
  padding: 10px;
  resize: none;
}
