.notification {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .notification.show {
    opacity: 1;
  }
  