  .form-group-col-class {
    margin: 0px;
  }

  .form-group-class {
    margin-top: 20px;
    padding: 0px;
    text-align: left;
  }
  
  .form-label-class {
    margin: 0px;
    padding: 0px;
    color: #42465B;
  }

  
  .section-page {
    background-color: #f0f0f0; 
    /* background-color: #f7f7f8;  */

    
    /* background-color: #EEEBEA;  */
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width:100%;

  }
  .section {
    /* background-color: #f0f0f0;  */
    background-color: #f7f7f8; 

    
    /* background-color: #EEEBEA;  */
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width:100%;

  }

.section-title {
    font-size: 24px;
    font-weight: bold !important;
    margin-bottom: 5px;
    text-align: center;
    color: #42465B;
  }

  .section-title2 {
    color: #808080;
    margin-bottom: 5px;
    text-align: center;
  }

  .section-sub {
    background-color: white;
    /* height:  45%;  */
    width:100%;
    overflow-y: auto;
    border: 1px;
    padding : 10px;
    border-color : #ccc;
  }

  .section-heading {
    color: black;
    text-align: left;
    font-size: 20px;
    font-weight: bold !important;
  }
  
  .section-heading-page {
    color: black;
    text-align: center;
    font-size: 24px;
    /* background-color: #D3D3D3; */
    font-weight: bold !important;
    background-color: #f0f0f0; 

    padding: 0px;
    border : 0px;
  }
  
